.App {
  padding-top: 150px;
}

.main-slider {
  position: relative;
  .swiper {
    &-container {
    }
    &-pagination {
      // position: relative;
      bottom: -30px;
    }
    &-button {
      &-prev {
      }
      &-next {
      }
    }
  }
}
